<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>myTodo@</title>
</head>
<body>
<div>
    <strong><span>MY TO-DO-LIST</span></strong>
</div>
<div>
    <p><a href="/tasks/">Create new task</a></p>
</div>
<div>
    <p><a href="/tasks/list">Task list</a></p>
</div>
<div>
    <p><a href="/users/">Create new user</a></p>
</div>
<div>
    <p><a href="/users/list">User list</a></p>
</div>
<div>
    <p><a href="/users/n">Create task to user</a></p>
</div>
</body>
</html>
