<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>myTodo@</title>
    <link type="text/css" rel="stylesheet" href="/static/app.css"/>
</head>
<body>
<div class="strong_text" style="text-align: center">
    <strong><span>MY TO-DO-LIST</span></strong>
</div>
<div class="block_form">
    <p><a href="/create_task">Create new task</a></p>
</div>
<div class="block_list">
    <p><a href="/list">Task list</a></p>
</div>
<div class="block_user_list">
    <p><a href="/users">User list</a></p>
</div>
<div class="block_user_form">
    <p><a href="/create_user">Create new user</a></p>
</div>
</body>
</html>
