<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User form</title>
    <link type="text/css" rel="stylesheet" href="/static/app.css"/>
</head>
<body>
<form method="post">
    <div>
        <input name="firstName" type="text" class="input_text" th:value="${firstName}" placeholder="First name"/>
    </div>
    <div>
        <input name="middleName" type="text" class="input_text" th:value="${middleName}" placeholder="Middle name"/>
    </div>
    <div>
        <input name="lastName" type="text" class="input_text" th:value="${lastName}" placeholder="Last name"/>
    </div>
    <div>
        <button type="submit">Сохранить</button>
        <a th:href="@{/users/delete/{id}(id=${id})}" style="color: red; padding: 10px">Удалить</a>
    </div>
</form>
</body>
</html>
