<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link type="text/css" rel="stylesheet" href="/static/app.css"/>
</head>
<body>
<div class="block_menu">
    <p><a href="/">  Menu </a></p>
</div>
<div class="block_create_user">
    <p><a href="/create_user">Create new user</a></p>
</div>
<div class="my-task-class" style="text-align: center;">MY USERS LIST</div>
<table style="border: 1px; width: 100%;">
    <colgroup>
        <col style="text-align: center; background: darkgray">
        <col style="background: darkgray">
    </colgroup>
    <thead>
    <tr>
        <th class="th_user_id" >ID</th>
        <th class="th_user_firstName">First name</th>
        <th class="th_user_lastName">LastName</th>
        <th class="th_user_middleName">MiddleName</th>
        <th class="th_user_id">Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user:${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.middleName}"></td>
        <td>
            <a th:href="@{/user/{id}(id=${user.id})}"><img src="../static/image/edit_icon.png"></a>
        </td>

    </tr>
    </tbody>
</table>

</body>
</html>