<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>AddUserForTask</title>
</head>
<body>
<div>
    <form method="post" >


        <div>
            <input name="label" type="text" th:value="${label}" placeholder="Описание задачи">
        </div>
        <div>
            <p style="border: 1px black solid; width: 175px" >Срок</p>
        </div>
        <div>
            <button type="submit" style="margin-left: 100px">Добавить</button>
        </div>
    </form>
</div>
</body>
</html>