<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User form</title>
    <link type="text/css" rel="stylesheet" href="/static/app.css"/>
    <style type="text/css">
        table {
            margin-top: 20px;
        }
        TH {
            padding: 5px;
            border: 2px gray solid;
        }
        TD {
            padding: 2px;
            border: 1px gray solid;
        }
    </style>
</head>
<body>
<form method="post">
    <div>
        <p th:text="'ID: ' + ${id}"></p>
    </div>
    <div>
        <input name="firstName" type="text" class="input_text" th:value="${name}" placeholder="First name"/>
    </div>
    <div>
        <input name="middleName" type="text" class="input_text" th:value="${middleName}" placeholder="Middle name"/>
    </div>
    <div>
        <input name="lastName" type="text" class="input_text" th:value="${lastName}" placeholder="Last name"/>
    </div>
    <div>
        <button type="submit">Сохранить</button>
        <a th:href="@{/users/delete/{id}(id=${id})}" style="color: red; padding: 10px">Удалить</a>
    </div>

    <div>
        <table>
            <tr><th>Задачи</th></tr>
            <tr th:each="task:${tasks}" >
                <td th:if="${task.label} != null" th:text="${task.label}"></td>
                <td th:if="${task} != null">
                    <a th:href="@{/users/__${id}__/deleteTask/{task.id}(task.id=${task.id})}">Убрать</a>
                </td>
            </tr>
        </table>
    </div>
</form>

<form  method="post" th:if="${id} != null"  action="#" th:action="@{/users/__${id}__/createTask}" th:object="${id}">
    <div>
        <input name="label" type="text" class="input_text" th:value="${label}"
               placeholder="Создать задачу" style="margin-top: 20px">

        <p style="border: 1px gray solid; width: 175px;">Срок задачи</p>
    </div>
    <input type="submit" value="Добавить">
</form>

<div>
    <p><a href="/users/list" style="font-size: 22px; padding: 5px">User list</a></p>
</div>
<div>
    <p><a href="/" style="font-size: 22px; padding: 5px">Menu</a></p>
</div>
</body>
</html>
