<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link type="text/css" rel="stylesheet" href="/static/styles.css">
</head>
<body>
<div>
    <table>
        <tr th:each="user:${users}">
            <td th:text="${user.getFullName()}"></td>
            <td><a th:href="@{/users/{id}(id=${user.getId()})}">Изменить</a></td>
            <td><a th:href="@{/users/list/delete/{id}(id=${user.getId()})}"
                   style="color: red; padding: 10px">Удалить</a></td>
        </tr>
    </table>
</div>
</body>
</html>