<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link type="text/css" rel="stylesheet" href="/static/styles.css">
</head>
<body>
<div>
    <table>
        <tr th:each="user:${users}">
            <td th:text="${user.getFullName()}" style="border: 1px solid gray;
             border-collapse: collapse"></td>
            <td><a th:href="@{/users/{id}(id=${user.getId()})}"  style="border: 1px solid gray;
            border-collapse: collapse">Изменить</a></td>
            <td><a th:href="@{/users/list/delete/{id}(id=${user.getId()})}"
                   style="border: 1px solid gray;
            border-collapse: collapse; color: red; font-size: 16px">Удалить</a></td>
        </tr>
    </table>
</div>
<div>
    <p><a href="/users/" style="font-size: 22px; padding: 5px">Edit user</a></p>
</div>
<div>
    <p><a href="/" style="font-size: 22px; padding: 5px">Menu</a></p>
</div>
</body>
</html>