

table a:hover {
    background: beige;
    -webkit-box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    margin: auto;
}

table {
    height: 40px;
    width: 70%;
}

table tbody td {
    background-color: white;
    font-size: 22px;
}

p {
    font-size: 22px;
    font-family: "Fira Code Medium", serif;
}

div.strong_text {
    text-indent: 10px;
    border-radius: 12px;
    margin: 50px;
    padding: 3px 2px;
    color: sandybrown;
    font-size: 26px;
    text-shadow: 1px 1px 1px slategrey

}

div.strong_text span {
    display: inline;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: -10px 0 0 rgba(0, 0, 0, 0.5), 5px 0 0 rgba(0, 0, 0, 0.5);
    padding: 0 10px 0 0;
    color: #FFFFFF;
    line-height: 14px;
    font-size: 45px;
}

.input_text {
    display: inline-block;
    cursor: pointer;
    margin-bottom: 40px;
    margin-left: 10px;
    border: 2px solid gray;
    padding: 1px 10px;
    font-size: 18px;
    width: 265px;
}

button {
    font-size: 18px;
    border-radius: 12px;
    border: 2px solid black; /* Параметры рамки */
    background: silver;
    padding: 0.1em 1.5em; /* Поля вокруг текста */
}

button:hover {
    color: white;
}

button:active {
    box-shadow: inset 0 0 7px rgba(0, 0, 0, .5);
}

.block a.in_list{
    text-indent: 10px;
    border-radius: 12px;
    padding: 3px 2px;
    color: sandybrown;
    font-size: 26px;
    text-shadow: 1px 1px 1px rgb(0,0,0,0.5);
    margin-right: 300px;
}

.my-task-class {

    background-color: gray;
    border-radius: 12px;
    margin: 50px;
    padding: 3px 2px;
    color: white;
    font-size: 30px;
}

form .form-inner {
    font-size: 24px;
    color: slategrey;
    text-shadow: black 1px 0 2px;
}

.last_change table, th{
    background-color: gray;
    font-size: 20px;
    width: 60%;
}

.last_change p{
    text-align: center;
    font-size: 22px;
    color: black;
    font-family: Arial, serif;
}

.last_change span {
    display: inline;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: -10px 0 0 rgba(0, 0, 0, 0.5), 5px 0 0 rgba(0, 0, 0, 0.5);
    padding: 0 10px 0 0;
    color: #FFFFFF;
    line-height: 12px;
    font-size: 22px;

}

.block_form a {
    color: black;
    background: beige;
    -webkit-box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.3);

}

.block_form a:hover {
    color: slategrey;
    text-decoration: underline;
}

.block_form p {
    position: absolute;
    font-size: 24px;
    left: 500px;
}



.block_list a {
    color: black;
    background: beige;
    -webkit-box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.block_list a:hover {
    color: coral;
    text-decoration: underline;
}

.block_list p {
    position: absolute;
    font-size: 24px;
    left: 394px;
}

.block_user_list a {
    color: black;
    background: beige;
    -webkit-box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.block_user_list a:hover {
    color: coral;
    text-decoration: underline;
}

.block_user_list p {
    position: absolute;
    font-size: 24px;
    left: 897px;
}

.block_user_form a {
    color: black;
    background: beige;
    -webkit-box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.3);

}

.block_user_form a:hover {
    color: slategrey;
    text-decoration: underline;
}

.block_user_form p {
    position: absolute;
    font-size: 24px;
    left: 715px;
}

.th_user_id {
    width: 10%;
}

.th_user_firstName {
    width: 30%;
}

.th_user_lastName {
    width: 30%;
}

.block_menu a {
    text-decoration: none;
    color: black;
    background: beige;
    -webkit-box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.block_menu a:hover {
    color: cadetblue;
}

.block_lists a {
    text-decoration: none;
    color: black;
    background: beige;
    -webkit-box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.block_lists a:hover {
    color: silver;
}

.block_create_user a {
    text-decoration: none;
    color: black;
    background: beige;
    -webkit-box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.block_create_user a:hover {
    color:silver;
}

.block_create_task a {
    text-decoration: none;
    color: black;
    background: beige;
    -webkit-box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.block_create_task a:hover {
    color: coral;
}
